{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Modifications</h1>

    {{ include('admin_article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_article_index') }}">Retour</a>

    {{ include('admin_article/_delete_form.html.twig') }}
{% endblock %}
