{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Catégories disponibles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la catégories</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Consulter les articles</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucune catégories disponibles</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
